/*основные настройки контейнера*/

.container {
    width: 1280px;
    margin: 0 auto;
}


/*избавляемся от "налезания" блока на блок*/

.dis-block {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}


/*настройка хедера*/

.header-main {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    background-color: #445162;
    box-sizing: border-box;
}

.header-main-wraper {
    float: left;
}

.header-main-title {
    width: 367px;
    height: 44px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: Arial;
    font-size: 58px;
    font-weight: 400;
}

.header-main-list {
    list-style-type: none;
    width: 422px;
    height: 127px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.header-main-list-link {
    position: relative;
}

.header-main-list-link:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -37px;
    background-image: url(../img/check_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-header-photo {
    display: block;
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    float: right;
}


/*первый блок*/

.section1 {
    width: 100%;
    min-height: 350px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
}

.sec1-text {
    float: left;
}

.sec1-h {
    width: 254px;
    height: 28px;
    color: #445161;
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.sec1-p1 {
    width: 649px;
    height: 63px;
    color: #333333;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.sec1-p2 {
    width: 653px;
    height: 60px;
    color: #333333;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.sec1-img {
    float: right;
    width: 430px;
    height: 245px;
    background-color: #445161;
    display: block;
}


/*2й блок*/

.dignity {
    width: 100%;
    padding: 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-title {
    display: block;
    margin: 0 0 24px 0;
    text-align: center;
    font-size: 30px;
    font-family: "Arial";
    color: rgb(68, 81, 97);
    line-height: 1.2;
}

.dignity-list {
    width: 540px;
    margin: 0;
    padding: 0 0 0 46px;
    list-style-type: none;
    float: left;
}

.dignity-list:nth-child(3) {
    float: right;
}

.dignity-list-item {
    margin: 0 0 40px 0;
    position: relative;
}

.dignity-list:nth-child(2) > .dignity-list-item:nth-child(3),
.dignity-list:nth-child(3) > .dignity-list-item:nth-child(3) {
    margin: 0;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -46px;
}


/*3й блок скриншоты*/

.screenshots {
    width: 100%;
    min-height: 487px;
    background-color: #ffffff;
   
}

.screenhots-h {
    width: 138px;
    height: 22px;
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 auto;
}

/*скрин 1*/

.screenshot1 {
    min-height: 151px;
    width: 574px;
    
    float: left;
    box-sizing: border-box;
    margin: 34px 0 0 50px;
}

.screenshot1-img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    display: block;
    margin: 0 15px 0 0;
}

.screenshot1-text {
    margin: -2px;
}

.screenshot1-text-h {
    margin: 0 0 15px 0;
    color: #445161;
    text-align: left;
    font-family: arial;
    font-size: 24px;
    font-weight: 400;
}

.screenshot1-text-p {
    margin: 0;
    color: #333333;
    text-align: justify;
    font-family: arial;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #333333;
    ;
}


/*скрин 2*/

.screenshot2 {
    min-height: 151px;
    width: 574px;   
    box-sizing: border-box;
    float: left;
    margin: 34px 0 0 50px;
}

.screenshot2-img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    display: block;
    margin: 0 15px 0 0;
}

.screenshot2-text {
    margin: -2px;
}

.screenshot2-text-h {
    margin: 0 0 15px 0;
    color: #445161;
    text-align: left;
    font-family: arial;
    font-size: 24px;
    font-weight: 400;
}

.screenshot2-text-p {
    margin: 0;
    color: #333333;
    text-align: justify;
    font-family: arial;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #333333;
    ;
}


/*3й скрин*/

.screenshot3 {
    min-height: 151px;
    width: 574px;
   float: left;
    box-sizing: border-box;
    margin: 30px 0 0 50px;
}

.screenshot3-img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    display: block;
    margin: 0 15px 0 0;
}

.screenshot3-text {
    margin: -2px;
}

.screenshot3-text-h {
    margin: 0 0 0px 0;
    text-align: left;
    color: #445161;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.screenshot3-text-p {
    margin: 0;
    color: #333333;
    text-align: justify;
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/*4й скрин*/

.screenshot4 {
    
    min-height: 151px;
    width: 574px;
    float: left;
    box-sizing: border-box;
    margin: 30px 0 0 50px;
}

.screenshot4-img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    display: block;
    margin: 0 15px 0 0;
}

.screenshot4-text {
    margin: 0px;
}

.screenshot4-text-h {
    margin: 0 0 0px 0;
    text-align: left;
    color: #445161;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.screenshot4-text-p {
    margin: 0;
    color: #333333;
    text-align: justify;
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*4 блок Reviews*/
.reviews {
    width: 100%;
    min-height: 423px;
    background-color: #f5f5f5;
    padding: 50px
    
}
.reviews-h{
    text-align: center;
    margin: 0 0 35px 0;
    color: #445161;
font-family: "Arial";
font-size: 30px;
font-weight: 400;
line-height: 36px;
}
.rev{
    color: #333333;
font-family: "Arial - Italic";
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.review{ 
    width: 483px;
    height: 121px;
    background-color: #ebebeb;
    border-radius: 15px;
    padding:  20px 16px 27px ;
    float: left;    
    background-image: url(../img/bg_review.svg);
    background-repeat: no-repeat;
font-family: "Arial-Italic";
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.autor{
   color: #989898;
font-family: "Arial";
font-size: 14px;
font-weight: 400;
line-height: 18px; 
}
.review:nth-child(3),
.review:nth-child(5){
    float: right;
}
.review:nth-child(3){
    margin: 0px 0px 24px 0px;
}
.review:nth-child(2){
    margin: 0px 0px 20px 91px;
}

.review:nth-child(4){
    margin: 0px 0px 20px 91px;
}

.review:before{
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    background-color:#445161; 
    border-radius: 75px;
    float: left;
    margin: 0 0 0 -100px;
}